/.cache/
/.fleet/
/.idea/
/build.py
/compile_commands.json
/run_install_build.ps1
/run_install_build.py

/out/
/.cmake-build-wsl-release/
/.cmake-build-wsl-rel_deb/
/.cmake-build-wsl-debug/
/.cmake-build-win-release/
/.cmake-build-win-rel-deb/
/.cmake-build-win-debug/
/.cmake-build-wsl-rel-deb/
